@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84e1ad;
    margin: 0px;
}

header {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    background-image: linear-gradient(to bottom, #39cc7c, #1a5c38);
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

header p {
    margin: 20px auto;
    width: 45%;
    text-align: center;
    font-weight: normal;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #39cc7c;
    color: #1a5c38;
    border-radius: 4px;
    font-weight: bold;
}

nav a:active {
    color: #39cc7c;
}

main {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin: 0px 5%;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
}

main h2,
h3 {
    font-family: 'Idroid', sans-serif;
    color: #1a5c38;
    margin: 0px;
    padding: 5px;
}

main h3 {
    background-image: linear-gradient(to right, #84e1ad, rgba(26, 92, 56, 0));
}

main p {
    text-align: justify;
    text-indent: 30px;
}

main a {
    text-decoration: none;
    color: #1a5c38;
    font-weight: bold;

}

main a.link-especial {
    padding: 2px;
    background-color: #84e1ad;
}

main a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

section#video {
    background-color: #1a5c38;
    margin: 0px -15px;
    padding: 10px 0px;
}

article#artigo-extra {
    margin: 20px 0px;
    padding: 10px;
    background-color: #ace6c5;
    border-radius: 5px;
}

article#artigo-extra h4 {
    background-color: #39cc7c;
    color: white;
    padding: 5px;
    margin: -10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1em;
}

div.conteudo-lista {
    display: flex;
}

article#artigo-extra ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px 20px;
    padding: 0px;
}

strong.palavra-forte {
    color: #1a5c38;
}

main p {
    margin: 20px 0px;
}

footer {
    background-color: #1a5c38;
    color: white;
    text-align: center;
    padding: 3px;
    margin: 15px 0px 0px 0px;
}

footer p {
    margin: 0px;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
