@font-face {
    font-family: 'Idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84e1ad;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #39cc7c, #1a5c38);
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 20px;
    text-align: center;
}

header p {
    margin: 20px auto;
    width: 45%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: none;
    padding: 8px 20px;
}

nav a:hover {
    background-color: #39cc7c;
    color: #1a5c38;
    border-radius: 4px;
}

nav a:active {
    color: #39cc7c;
}

main {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin: 20px 10%;
    padding: 20px 15px;
}

main h2,
h3 {
    font-family: 'Idroid', sans-serif;
    color: #1a5c38;
    margin: 0px;
    padding: 5px;
}

main h3 {
    background-image: linear-gradient(to right, #84e1ad, rgba(26, 92, 56, 0));
}

main p {
    text-align: justify;
    text-indent: 30px;
}

main a {
    text-decoration: none;
    color: #1a5c38;
    font-weight: bold;

}

main a.link-especial {
    padding: 2px;
    background-color: #84e1ad;
}

main a:hover {
    text-decoration: underline;
}