@charset "UTF-8";

body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: lightskyblue;
            color: rgb(32, 110, 158);
        }

        h1 {
            color: darkblue;
        }

        h2 {
            color: darkgoldenrod;
        }

        p {
            text-align: justify;
        }